/*----- Medium Screen Size -----*/
@media screen and (min-width: 735px) {
    .menu {
        display: flex;
    }

    .menu li:first-child {
        display: none;
    }

    .menu li {
        display: block;
        flex: 1 1 auto;
    }

    .menu a {
        text-align: center;
    }

    .grid-view {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}