* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

main {
    width: 90vw;
    margin: 0 auto;
}

#main {
    overflow: auto;
    padding-bottom: 100px;
}

.menu {
    list-style: none;
    padding: 0;
    text-align: center;
    margin: 0;
}

.menu li:first-child {
    display: block;
}

.menu li {
    display: none;
}

.menu a {
    display: block;
    padding: 0.75rem;
    text-decoration: none;
    color: black;
    font-weight: 700;
}

.menu a:hover {
    color: white;
    background-color: #75b4e3;
}

.active {
    background-color: #75b4e3;
}

.responsive li {
    display: block;
}

header {
    border: #31255a solid 1px;
    background: #31255a;
    border-radius: 5px;
    text-align: center;
    color: white;
    margin-top: 10px;
}

h1 {
    font-family: tahoma;
    font-size: 30px;
}

h2 {
    text-align: center;
    font-family: tahoma;
    font-size: 25px;
}

h3 {
    font-family: tahoma;
    font-size: 20px;
    text-align: center;
}

.logo {
    float: left;
    padding: 10px;
    width: 120px;
    height: auto;
}

.gallery {
    font-size: 200%;
    color: green;
    font-family: tahoma;
}

.grid-view {
    display: grid;
    grid-template-columns: 400px;
    grid-gap: 10px;
    justify-content: space-evenly;
    margin-bottom: 50px;
}

.img1 {
    width: 100%;
}

.caption {
    display: none;
}

.footer {
    margin-top: -100px;
    height: 50px;
    background: #31255a;
    border-radius: 5px;
    text-align: center;
    margin-top: 1em;
    padding: .5em;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
    clear: both;
}

.byuilink {
    color: white;
}

.dateSaved {
    color: #ffff00;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    border: 5px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-pinterest {
    background: red;
    color: white;
}

/*----- Clearfix: Force an Element no to collapse -----*/
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}