/*----- Medium Screen Size -----*/
@media screen and (min-width: 735px) {
    .menu {
        display: flex;
    }

    .menu li:first-child {
        display: none;
    }

    .menu li {
        display: block;
        flex: 1 1 auto;
    }

    .menu a {
        text-align: center;
    }

    div {
        display: flex;
        flex-direction: row;
        justify-self: center;
    }

    section {
        text-align: center;
        background-color: #eee;
        margin: .5rem auto;
        border: 1px solid #bbb;
        border-radius: 5px;
        margin-right: 10px
    }
    
    img {
        max-width: 80%;
    }

    article {
        display: flex;
        flex-direction: column;
    }

    article:nth-child(odd) {
        flex-direction: row-reverse;
    }

    img {
        border: 1px solid #000080;
        width: 100%;
        height: auto;
    }

    .data {
        background-color: #000;
        color: #fff;
    }
}