/*----- Medium Screen Size -----*/
@media screen and (min-width: 735px) {
    .menu {
        display: flex;
    }

    .menu li:first-child {
        display: none;
    }

    .menu li {
        display: block;
        flex: 1 1 auto;
    }

    .menu a {
        text-align: center;
    }

    div {
        display: grid;
        grid-column: 1fr 1fr;
        max-width: 400px;
    }

    section {
        max-width: 600px;
        margin: .5rem auto;
        border: 1px solid #bbb;
        background-color: #eee;
    }

    article {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    article:nth-child(odd) img {
        grid-column: 2;
    }

    article:nth-child(odd) .data {
        grid-column: 1;
        grid-row: 1;
    }

    img {
        width: 100%;
        height: auto;
        padding: 0;
    }

    .data {
        background-color: #000;
        color: #fff;
    }

    p {
        padding: .75rem;
    }
}