/*----- Large Screen Size -----*/
@media screen and (min-width: 960px) {
    .menu li a {
        padding: .6rem 1rem;
    }

    div#results {
        display: flex;
        flex-direction: row;
    }

    card.img {
        width: 80%;
        height: auto;
    }

    section.card:nth-child(odd) {
        flex-direction: row;
    }


}