/*----- Medium Screen Size -----*/
@media screen and (min-width: 600px) {
    .menu {
        display: flex;
    }

    .menu li:first-child {
        display: none;
    }

    .menu li {
        display: block;
        flex: 1 1 auto;
    }

    .menu a {
        text-align: center;
    }

    .grid-view {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .weekdays {
        display: flex;
        justify-content: center;
    }

    .weekdays div {
        display: flex;
        margin: 10px;
        font-family: segoe;
        width: 150px;
        height: 115px;
        border: solid #333;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    .weekdays p {
        margin: 0;
    }

    .sun {
        max-width: 55px;
    }

    .map {
        display: flex;
        float: left;
        height: 100%;
        width: auto;
    }

    .help {
        display: flex;
        flex-direction: column;
    }

    div#results {
        display: flex;
        flex-direction: column;
    }

    .card-text {
        margin: 0;
        padding: 0;
        width: 50%;
    }

    .card img {
        width: 50%;
    }

    section.card {
        display: flex;
        align-items: center;
        background-color: #eee;
        border: 1px solid #bbb;
        border-radius: 5px;
        margin-right: 10px
    }

    section.card:nth-child(odd){
        flex-direction: row-reverse;
    }

    art {
        display: flex;
        flex-direction: column;
    }

    art:nth-child(odd) {
        flex-direction: row-reverse;
    }

    img {
        width: 80%;
        height: auto;
    }

    .data {
        background-color: #000;
        color: #fff;
    }
}