* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

main {
    width: 90vw;
    margin: 0 auto;
}

.weathersummary {
    position: absolute;
    top: 50px;
    left: 50px;
    background: radial-gradient(green, lightgreen, black);
    border: 1px solid green;
    padding: .5rem;
    box-shadow: 0 0 30px #777;
}

#main {
    overflow: auto;
    padding-bottom: 100px;
}

/*--- Menu ---*/
.menu {
    list-style: none;
    padding: 0;
    text-align: center;
    margin: 0;
}

.menu li:first-child {
    display: block;
}

.menu li {
    display: none;
}

.menu a {
    display: block;
    padding: 0.75rem;
    text-decoration: none;
    color: black;
    font-weight: 700;
}

.menu a:hover {
    color: white;
    background-color: #75b4e3;
}

.active {
    background-color: #75b4e3;
}

.responsive li {
    display: block;
}

header {
    border: #31255a solid 1px;
    background: #31255a;
    border-radius: 5px;
    text-align: center;
    color: white;
    margin-top: 10px;
}

h1 {
    font-family: tahoma;
    font-size: 30px;
}

h2 {
    text-align: center;
    font-family: tahoma;
    font-size: 25px;
}

h3 {
    font-family: tahoma;
    font-size: 20px;
    text-align: center;
}

.day h4{
    margin: 0;
}

.logo {
    float: left;
    padding: 10px;
    width: 120px;
    height: auto;
}

.parent {
    position: relative;
    width: 80%;
    background-color: white;
    margin: 60px auto;
    padding: 10px 3px 3px;
}

.parent div:first-child {
    position: relative;
}

.lake img {
    width: 100%;
    height: auto;
    box-shadow: 0 0 30px;
    border-radius: 5px;
    margin-bottom: 30px;
}

.floatingbox {
    background-color: rgba(117, 180, 227, 0.6);
    font-family: segoe;
    text-align: center;
    position: absolute;
    top: 5px;
    left: 5px;
    border: 1px solid #333;
    padding: .5rem;
    box-shadow: 0 0 30px #777;
    border-radius: 5px;
}

.current {
    height: 8px;
    width: auto;
}

.article {
    font-family: segoe;
    border-radius: 5px;
    border-color: black;
    width: 80%;
    min-height: 200px;
    height: auto;
    background-color: #75b4e3;
    margin: 20px auto;
    padding: 10px 3px 3px;
}

.manimage {
    margin: 15px;
    float: right;
    box-shadow: 0 0 30px black;
    background-color: white;
    border-radius: 5px;
}

.block4 {
    font-family: segoe;
    text-align: center;
    font-size: 15px;
    border-radius: 5px;
    border-color: black;
    width: 80%;
    height: 200px;
    background-color: #75b4e3;
    margin: 20px auto;
    padding: 10px 3px 3px;
}

.map {
    display: none;
}

.help {
    display: none;
}

/*--- Footer ---*/
.footer {
    margin-top: -100px;
    height: 50px;
    background: #31255a;
    border-radius: 5px;
    text-align: center;
    margin-top: 1em;
    padding: .5em;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
    clear: both;
}

.byuilink {
    color: white;
}

.dateSaved {
    color: #ffff00;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    border: 5px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-pinterest {
    background: red;
    color: white;
}

/*----- Clearfix: Force an Element no to collapse -----*/
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}